{% for result in encoded_files.results %}
{% if result.item == item %}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ item }}-secret"
type: Opaque
data:
  {{ item }}: "{{ result.stdout }}"
{% endif %}
{% endfor %}
