name: Build and Push Docker Upgrade-Edge image

on:
  push:
    branches:
      - main
    paths:
      - 'upgrade_edge/Dockerfile'
  pull_request:
    branches:
      - main
    paths:
      - 'upgrade_edge/Dockerfile'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push management image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./upgrade_edge/Dockerfile
        push: true
        tags: ghcr.io/${{ github.repository_owner }}/edgek8s-upgrade:latest
